/*Producto*/
.producto{
    padding: 75px 0;
    margin: auto;
}
/*Imagenes*/
.producto h2.tituloResponsive{
    display: none;
}

.producto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 0;
}

.imagenesProducto{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto 5fr;
    gap: 20px;
}

.imagenesProducto img{
    width: 100%;
}

.imagenesProducto .imgThumbnail1{
    grid-row: 1 / 2;
}

.imagenesProducto .imgThumbnail2{
    grid-row: 2 / 3;
}

.imagenesProducto .imgThumbnail3{
    grid-row: 3 / 4;
}

.imagenesProducto .imgThumbnail4{
    grid-row: 4 / 5;
}

.imagenesProducto .imgPrincipal{
    grid-row: 1 / 5;
}

/*Descripción*/
.infoProducto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoProducto .reseñaStock{
    display: flex;
    gap: 10px;
}

.infoProducto .reseñaStock .cantReview{
    color: rgb(161, 161, 161);
}

.infoProducto .reseñaStock .stock{
    color: rgb(7, 199, 33);
}

.infoProducto .precio .precioRegular{
    font-size: 2em;
}

.infoProducto .descripcionCorta, .caracteristicas{
    font-family: "Montserrat", sans-serif;
}

.infoProducto .descripcionCorta .caracteristicas ul{
    padding-left: 30px;
    padding-top: 10px;
}

.infoProducto .divider{
    border-top: 1px solid rgb(151, 151, 151);
}

.accionesProducto {
    display: flex;
    align-items: center;
    gap: 8px;
}

.accionesProducto .selectorCantidad {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    font-size: 1.2em;
}

.accionesProducto .selectorCantidad button {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 30px;
}

.accionesProducto .cantidadProducto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 1em;
}

.accionesProducto .comprar {
    background-color: rgb(7, 199, 33);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.25em;
    cursor: pointer;
    border-radius: 4px;
}

.accionesProducto .comprar:hover,
.accionesProducto .selectorCantidad .decrementar:hover,
.accionesProducto .selectorCantidad .incrementar:hover,
.accionesProducto .btnWishlist:hover {
    background-color: black;
    color: rgb(8, 231, 38);
}

.accionesProducto .btnWishlist {
    background: none;
    border: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.accionesProducto .btnWishlist svg {
    width: 50px; 
    height: 50px;
}

.accionesProducto .btnWishlist svg:hover,
.accionesProducto .btnWishlist svg path:hover {
    fill: currentColor;
    stroke: rgb(8, 231, 38);
    stroke-width: 3;
}

.caracTienda{
    display: flex;
    padding: 25px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
}

.caracTienda .item{
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Montserrat", sans-serif;
}

.caracTienda .item img{
    width: 20%;
}

/*Productos Relacionados*/
.masVendidos{
    padding: 75px 0;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-bottom: solid 1px rgb(233, 232, 232);
    gap: 20px;
}

.masVendidos header{
    grid-column: 1/5;
    display: flex;
    justify-content: space-between;
}

.masVendidos h2{
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 2em;
}

.masVendidos h4{
    border-left: solid 12px rgb(8, 231, 38);
    padding-left: 10px;
    align-self: center;
}

.masVendidos nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.masVendidos nav a{
    width: 53%;
    margin: 0 5px;
    text-decoration: none;
    background-color: rgb(233, 232, 232);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 50px;
}

.masVendidos nav a:hover{
    background-color: rgba(143, 138, 138, 0.3)
}

/*Tarjeta Productos*/
.cardProducto{
    background-color: rgb(233, 232, 232);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardProducto img{
    border-radius: 12px 12px 0 0;
    width: 100%;
}

.cardProducto h3{
    font-size: 1.2em;
    padding: 10px 10px;
}

.cardProducto .productoDescripción{
    padding: 0px 10px;
}

.cardProducto .precio{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    padding: 0 10px;
}

.cardProducto p.precioDescuento{
    text-align: right;
    font-weight: 600;
    font-size: 1.2em;
    color: rgb(8, 231, 38);
    background-color: black;
}

.cardProducto p.precioRegular{
    text-decoration: line-through;
    color: tomato;
    margin-right: 10px;
    font-weight: 600;
}

.cardProducto a{
    padding: 10px 20px;
    margin: 20px 10px;
    background-color: black;
    color: white;
    display: inline-block;
    text-decoration: none;
    border-radius: 15px;
    text-align: center;
    border: solid 1px black;
}

.cardProducto a:hover{
    background-color: rgb(8, 231, 38);
    color: rgb(17, 17, 17);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: solid 1px black;
}

/**Tablet**/
@media (max-width: 768px){
    /*Tamaño del documento*/
        .sectionContenedor{
            width: 100%;
            padding: 20px;
        }
    /*Producto*/
        /*Titulo Responsive*/
        .producto h2.tituloResponsive{display: block;}
    
        .producto{
            grid-template-columns: auto;
            gap: 20px;
        }
    
        .producto .imagenesProducto{
            overflow: hidden;
        }
    
        .infoProducto h2{display: none;}
        .infoProducto{
            gap: 20px;
        }
    
        .accionesProducto{
            justify-content: flex-end;
        }
    
        /*Productos Relacionados*/
        .masVendidos{
            padding: 20px;
            grid-template-columns: repeat(2,1fr);
        }
    
        .masVendidos header{
            grid-column: 1/3;
        }
    
        .masVendidos h2{
            font-size: 1.5em;
        }
    }
    
    /**Celulares**/
    @media (max-width: 425px){
        .imagenesProducto{
            gap: 10px;
        }
    
        .caracTienda{
            flex-direction: column;
            gap: 20px;
        }
    }