/*Reset*/
*{
    margin: 0;
    padding: 0;
}

/*Estilos Principales*/
body{
    max-width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

/*Header*/
.header{  
    padding: 20px 10px;
    background-color: black;
    color: white;
}

.headerContenedor{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    font-size: 25px;
    align-content: center;
}

.logo:hover{
    color: rgb(8, 231, 38);
    cursor: pointer;
}

.menuPrincipal,
.menuPrincipal > ul{
    display: flex;
    list-style-type: none;
    
}

.menuPrincipal > ul > li{
    display: flex;
    align-items: center;;
}

.menuPrincipal > ul > li > a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    text-transform: uppercase;
}

.menuPrincipal > ul > li > a:hover{
    color: rgb(8, 231, 38);
}

.busqueda input{
    padding: 10px;
    font-size: 16px;
}

.busqueda a{
    font-size: 25px;
    text-decoration: none;
    margin-left: 5px;
}

/*Seccion Hero*/
.heroSection{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: "aside .sectionSlider";
    grid-template-columns: 20% 80%;
}

/*Seccion aside home*/
.aside{
    background-color: rgb(233, 232, 232);
    padding: 20px;
}

.aside a{
    text-decoration: none;
    display: block;
    padding: 5px;
    color: black;
}

.aside a:hover{
    background-color: rgb(161, 161, 161);
}

/*Seccion slider home*/
.sectionSlider{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(180deg, rgba(26, 26, 26, 0.3), rgba(143, 138, 138, 0.3)), url("../img/HeroSlider1.jpg");
    background-size: cover;
    background-position: bottom;
}
.slider{
    text-align: center;
    align-content: center;
}
.slider h2{
    font-size: 42px;
    padding: 20px 0;
    color: white;
    text-transform: uppercase;
}
.slider p{
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}
.slider a{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 15px;
    border: solid 2px black;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
}
.slider a:hover{
    /* background-color: rgb(240, 240, 240); */
    background-color: rgb(8, 231, 38);
    color: rgb(17, 17, 17);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/*Seccion Productos del día*/
/*Header Productos*/
.productosDelDia,
.masVendidos{
    width: 1400px;
    padding: 75px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-bottom: solid 1px rgb(233, 232, 232);
}

.productosDelDia header,
.masVendidos header{
    grid-column: 1/5;
    display: grid;
    grid-template-areas: 
        "H4 H4"
        "H2 nav";
}

.productosDelDia h2,
.masVendidos h2,
.categorias h2,
.reseñasSeccion h2{
    grid-area: H2;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 30px;
}

.productosDelDia h4,
.masVendidos h4,
.categorias h4,
.reseñasSeccion h4{
    border-left: solid 12px rgb(8, 231, 38);
    padding-left: 10px;
    align-self: center;
    grid-area: H4;
}

.productosDelDia nav,
.masVendidos nav,
.categorias nav{
    grid-area: nav;
    text-align: right;
}

.productosDelDia nav a,
.masVendidos nav a,
.categorias nav a{
    text-decoration: none;
    background-color: rgb(233, 232, 232);
    padding: 18px;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    border-radius: 50px;
}

.productosDelDia nav a:hover,
.masVendidos nav a:hover,
.categorias nav a:hover{
    background-color: rgba(143, 138, 138, 0.3)
}

/*Seccion Categorias*/
.categorias{
    width: 1400px;
    padding: 75px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    border-bottom: solid 1px rgb(233, 232, 232);
}

.categorias header{
    grid-column: 1/8;
    display: grid;
    grid-template-areas: 
        "H4 H4"
        "H2 nav";
}

.categoriaItem{
    border: 1px solid rgb(161, 161, 161);
    background-color: rgb(233, 232, 232);
    border-radius: 5px;
    padding: 30px;
    margin: 0 10px;
    text-align: center;
}

.categoriaItem:hover{
    background-color: rgba(88, 87, 87, 0.3);
    border: 2px solid black;
}

.categoriaItem img{
    width: 40%;
    margin-bottom: 10%;
}

/*Tarjeta Productos*/
.cardProducto{
    background-color: rgb(233, 232, 232);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
}

.cardProducto img{
    border-radius: 12px 12px 0 0;
    width: 100%;
}

.cardProducto h3{
    font-size: 20px;
    padding: 10px 10px;
}

.cardProducto .productoDescripción{
    padding: 0px 10px;
}

.cardProducto .precio{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    padding: 0 10px;
}

.cardProducto p.precioDescuento{
    text-align: right;
    font-weight: 600;
    font-size: 20px;
    color: rgb(8, 231, 38);
    background-color: black;
}

.cardProducto p.precioRegular{
    text-decoration: line-through;
    color: tomato;
    margin-right: 10px;
    font-weight: 600;
}

.cardProducto a{
    padding: 10px 20px;
    margin: 20px 10px;
    background-color: black;
    color: white;
    display: inline-block;
    text-decoration: none;
    border-radius: 15px;
    text-align: center;
    border: solid 1px black;
}

.cardProducto a:hover{
    background-color: rgb(8, 231, 38);
    color: rgb(17, 17, 17);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: solid 1px black;
}

/*RESEÑAS*/
.reseñasSeccion{
    width: 1400px;
    padding: 75px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 1px rgb(233, 232, 232);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 10% 1fr;
    gap: 20px;
}

.reseñasSeccion header{
    grid-column: 1 / 4;
}

.reseña{
    border: 1px solid rgb(161, 161, 161);
    background-color: rgb(233, 232, 232);
    border-radius: 5px;
    padding: 30px;
    
    text-align: center;
}

.reseña .raiting{
    width: 75px;
}

.reseña p.comentario{
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.reseñaPersona{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.infoPersona {
    display: flex;
    align-items: center;
    gap: 10px; /* espacio entre la imagen y el nombre */
}

.detallesPersona {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* alinea el nombre y ocupación a la izquierda */
}

.reseñaPersona img{
    width: 50px;
}

.reseñaPersona .imgPersona{
    border-radius: 50px;
}

/*Footer*/
footer{
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

.footerContenedor{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;

}

footer p > a{
    text-decoration: none;
    color: rgb(8, 231, 38);
}