

/*Breadcrumb*/
.breadcrumb{
    padding: 75px 0;
    margin: auto;
}

.ruta{
    display: flex;
    gap: 20px;
}

.ruta a{
    text-decoration: none;
    color: rgba(143, 138, 138);
}

.ruta a:nth-last-child(1){
    font-weight: 900;
    color: black;
}

/*Cuerpo Contacto*/
.cuerpoContacto{
    display: flex;
    gap: 50px;
    margin: auto;
    padding-bottom: 50px;
}

/*InfoContacto*/
.infoContacto{
    width: 30%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.infoContacto .llamanos,
.infoContacto .escribenos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.infoContacto .llamanos .imgTitulo,
.infoContacto .escribenos .imgTitulo{
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Montserrat", sans-serif;
}

.infoContacto .llamanos .textoLlamanos,
.infoContacto .escribenos .textoEscribenos{
    font-family: "Montserrat", sans-serif;
    line-height: 2em;
}

.infoContacto .divider{
    border-top: 1px solid rgb(182, 182, 182);

}

.infoContacto,
.formContacto{
    padding: 35px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 10px;
}


/*Formulario*/
.formContacto{
    width: 70%;
}

form{
    text-align: end;
}

.form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 16px;
}

.form-group textarea{
    height: 16em;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #aaa;
}

textarea {
    resize: none;
    height: 150px;
}

.form-group-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group .acceptance{
    display: flex;
    gap: 20px;
    padding-left: 20px;
}

.acceptance{
    text-align: left;
}

button {
    background-color: rgb(7, 199, 33);
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: "Montserrat", sans-serif;
}

button:hover {
    background-color: black;
    color: white;
}

.disclaimer{
    text-align: justify;
    font-size: 0.8em;
    font-family: 'Montserrat';
    padding-top: 20px;
}

/**Tablet**/
@media (max-width: 768px){
    /*Tamaño del documento*/
    .sectionContenedor{
        width: 100%;
        padding: 20px;
    }
    .cuerpoContacto{
        gap:20px;
    }

    .infoContacto, .formContacto {
        padding: 20px;
    }

    .infoContacto .llamanos .imgTitulo,
    .infoContacto .escribenos .imgTitulo {
        gap: 10px;
    }

    .infoContacto .llamanos .textoLlamanos,
    .infoContacto .escribenos .textoEscribenos {
        line-height: 1.2em;
        font-size: 0.8em;
    }
    .infoContacto .textoEscribenos p:nth-child(1){
        margin-bottom: 20px;
    }
}

/**Celulares**/
@media (max-width: 760px){
    .cuerpoContacto{
        flex-direction: column;
        padding: 0 20px 20px 20px;
    }
    .infoContacto,
    .formContacto{
        width: 100%;
    }
}