/*Breadcrumb*/
.breadcrumb{
    padding: 75px 0;
    margin: auto;
}
.ruta{
    display: flex;
    gap: 20px;
}

.ruta a{
    text-decoration: none;
    color: rgba(143, 138, 138);
}

.ruta a:nth-last-child(1){
    font-weight: 900;
    color: black;
}

/*Producto*/
