.nosotros{
    padding-bottom: 75px;
    margin: auto;
    display: flex;
    font-family: "Montserrat", sans-serif;
    gap: 40px;
}

.nosotros p{
    padding-top: 30px;
}

.nosotros img{
    border-radius: 15px;

}

/*Seccion Caracteristicas*/
.caracteristicas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    margin: auto;
    padding: 75px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.caracteristicas .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1;
    border: 1px solid rgb(161, 161, 161);
    padding: 30px;
    border-radius: 15px;
    transition: color 0.3s ease;
}

.caracteristicas .item:hover{
    background-color: rgb(8, 231, 38);
    transition: all 0.7s ease-in-out;
}

.caracteristicas h3{
    font-size: 2em;
}

@media (min-width: 768px) and (max-width: 1700px) {
    section.sectionContenedor.nosotros{
        flex-direction: column;
    }
    
    .sectionContenedor.caracteristicas{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 0 75px 0;
        gap: 20px;
    }

}


@media (max-width: 768px) {
    #header > div {
        width: 100%;
        padding: 20px;
    }
    section.sectionContenedor.nosotros{
        flex-direction: column;
    }
    section.sectionContenedor.nosotros > div.img > img{
        width: 100%;
    }
    .sectionContenedor.caracteristicas{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px 75px 20px;
        gap: 20px;
    }
    .caracteristicas > div.item{
        padding: 20px;
    }
}

@media (max-width: 425px){
    .sectionContenedor {
        padding: 20px;
        width: 100%;
    }
}