/*Footer*/
footer{
    padding: 10px;
    font-size: 0.8em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footerPrincipal{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.footerPrincipal h3{
    font-size: 2em;
}

.footerPrincipal .footerText, .footerLink{
    font-size: 1.5em;
    margin-top: 10px;
    display: block;
    color: rgb(192, 192, 192);
    text-decoration: none;
}

.footerPrincipal a:hover{
    color: rgb(8, 231, 38);
}


.footerInputContainer {
    position: relative;
    width: 100%;
}

.footerPrincipal input[type=text]{
    width: 100%;
    height: 50px;
    background-color: black;
    color: rgb(230, 230, 230);
    border: 1px solid white;
    padding: 0 50px 0 10px; /* Espacio para el ícono */
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
}
.footerInputContainer .enviar {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mensajeSatisfactorio {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
    display: none;
}

.mensajeSatisfactorio.mostrar {
    display: block;
    opacity: 1;
    visibility: visible;
}

.mensajeSatisfactorio.correcto {
    color: rgb(8, 231, 38);
}

.mensajeSatisfactorio.error {
    color: red;
}



/* Ícono del botón */
.footerInputContainer .enviar img {
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(100%); /* Color blanco */
}

.footerInputContainer .enviar:hover img {
    filter: brightness(0) saturate(100%) invert(36%) sepia(79%) saturate(525%) hue-rotate(88deg) brightness(87%) contrast(92%);
}




.col{
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.rrss{
    display: flex;
    justify-content: space-evenly;
}

/*Footer Copywrite*/
.footerInferior{
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
    border-top: solid 1px rgb(87, 87, 87);
}

.footerInferior p > a{
    text-decoration: none;
    color: rgb(8, 231, 38);
    display: inline;
    font-size: 1em;
}

/**Tablet**/
@media (max-width: 768px){
    /*Footer*/
    .footerPrincipal{
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(6, 1fr); 
        grid-template-rows: auto auto;         
        gap: 40px;                             
    }
    .footerPrincipal input[type=text]{margin-top: 5px;}

    .footerPrincipal .col1,
    .footerPrincipal .col2{
        grid-column: span 3;
    }
    .footerPrincipal .col3,
    .footerPrincipal .col4,
    .footerPrincipal .col5{
        grid-column: span 2;
    }
    .mensajeSatisfactorio{
        margin: 0px;
        
    }
}

/**Celulares**/
@media (max-width: 425px){
    /*Footer*/
    .footerPrincipal{
        gap: 15px;
    }
    .footerPrincipal h3{
        font-size: 1.5em;
    }
    .footerPrincipal p,a{
        font-size: 1em !important;
    }
    .footerPrincipal .col{
        gap: 5px;
    }
    .footerPrincipal .col3,
    .footerPrincipal .col4,
    .footerPrincipal .col5{
        margin-top: 20px;
    }
    .footerPrincipal input[type=text]{
        height: 35px;
    }
    .footerPrincipal .col3,
    .footerPrincipal .col4{
        grid-column: span 3;
    }
    .footerPrincipal .col5{
        grid-column: span 6;
    }
    .footerPrincipal .footerDownloadAPP{
        width: 60%;
    }
    .footerPrincipal .rrss{
        margin-top: 20px;
    }
    .footerInferior{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .footerInferior p,
    .footerInferior a{
        font-size: 0.8em;
    }
}