/*Header*/
.header{  
    padding: 20px 10px;
    background-color: black;
    color: white;
}

.headerContenedor{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    font-size: 1.5em;
    align-content: center;
}

.logo:hover{
    color: rgb(8, 231, 38);
    cursor: pointer;
}

.menu-hamburguesa {
    display: none;
    width: 30px;
}

.menu-hamburguesa:hover svg rect {
    fill: rgb(8, 231, 38);
}

.menuPrincipal,
.menuPrincipal > ul{
    display: flex;
    list-style-type: none;
    
}

.menuPrincipal > ul > li{
    display: flex;
    align-items: center;;
}

.menuPrincipal > ul > li > a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    text-transform: uppercase;
}

.menuPrincipal > ul > li > a:hover{
    color: rgb(8, 231, 38);
}

.busqueda{
    display: flex;
}
.input-container {
    position: relative;
    width: 100%;
}

.input-container input {
    width: 100%;
    padding-right: 40px; /* Espacio para el botón */
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}
.input-container .send-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-55%);
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
/* Estilo del ícono dentro del botón */
.input-container .send-button img {
    width: 30px;
    height: 30px;
}

/* Cambiar color del ícono al hacer hover */
.input-container .send-button:hover img {
    filter: brightness(0) saturate(100%) invert(36%) sepia(79%) saturate(525%) hue-rotate(88deg) brightness(87%) contrast(92%);
}


.busqueda input{
    padding: 10px;
    font-size: 1em;
}

.busqueda .iconMenu{
    font-size: 1.5em;
    text-decoration: none;
    margin-left: 5px;
}

/**Tablet**/
@media (min-width: 0px) and (max-width: 1100px) {
/* @media (max-width: 768px){ */
    /*Header*/
    .logo{
        font-size: 1.2em;
    }
    .busqueda{
        display: none;
    }
}

/**Celulares**/
@media (max-width: 620px){
    /*Sección Menu Principal*/
        .logo{
            font-size: 1.2em;
        }
        .menu-hamburguesa{
            display: block;
        }
        .menuPrincipal{
            display: none;
        }
}